<div>
    <h2>Signup Page</h2>
    <form (submit)="onSubmit($event)">
      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <br />
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required
      />
      <br />
      <input
        type="text"
        name="name"
        placeholder="Enter your name"
        required
      />
      <br />
      <input type="submit" value="Signup">
    </form>
  </div>
  